@charset "utf-8";
#partner-con,#advantages-con,#case-con,#news-con{
    width: 1225px;
    margin: 0 auto;
}
#banner{
    height: 460px;
    /* background: pink; */
}
#banner img{
    margin: 0 auto;
    display: block;
}
#partner-con{
    /* background: blue; */
    padding-top: 28px;
}
#partner{
    min-height: 358px;
    background: #f7f7f7;
}
.partner_h3{
    height: 44px;
    /* background:gray; */
    font-size: 22px;
    color: black;
    line-height: 44px;
    text-align: center;
}
.partner_p{
    height: 30px;
    /* background: red; */
    line-height: 30px;
    font-size: 14px;
    color: #99999b;
    text-align: center;
}
.partner_div{
    padding-top: 20px;
    /* background: pink; */
    padding-left: 35px;
}
#advantages{
    height: 500px;
    background: chocolate;
}
#advantages-con{
    padding-top: 42px;
}
.advantages_div{
    height: 325px;
    background: pink;
}
.advantages_div div{
    float: left;
    width: 340px;
    height: 260px;
    background: blue;
    margin-left: 20px;
    position: relative;
}
#case{
    height: 810px;
    background: green;
}
.case_navbar{
    width: 800px;
    height: 40px;
    margin: 0 auto;
    background: #000;
}
.case_img{
    min-height: 625px;
    background: pink;
}
#news{
    height: 350px;
    background: red;
}
#news-con div{
    width: 400px;
    height: 350px;
    margin-right: 5px;
    background: orange;
    float: left;
}
#copyright{
    height: 140px;
    background: pink;
}


