@charset "utf-8";
.banner-con,.advantages-con,.service-con,.procedures-con{
    width: 1200px;
    margin: 0 auto;
}
.banner-con{
    height: 284px;
}
.banner-con{
    position: relative;
}
.banner-con img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
.banner-con h2{
    line-height:28px;
    font-size:30px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(240,239,238,1);
    position: absolute;
    left: 0;top: 106px;
}
.banner-con h3{
    line-height:24px;
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(240,239,238,1);
    position: absolute;
    left: 0;top: 154px;
}
.banner-con span{
    line-height: 283px;
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400; 
    color:rgba(240,239,238,1);
    position: absolute;
    right: 0;
}
.advantages-con{
    padding: 103px 0 58px;
}
.con_text_p{
    line-height: 18px;
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(85,85,85,1);
    margin-top: 20px;
}
.join_img{
    width: 360px;
    height: 302px;
    margin-top: 56px;
}
.join_text{
    width: 778px;
    margin-top: 56px     ;
}
.join_text dl{
    float: left;
    width: 280px;
    margin-left: 109px;
    margin-bottom: 22px;
}
.join_text span{
    line-height:16px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-left: 18px;
}
.join_text dd{
    line-height: 25px;
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(157,157,157,1);
    margin-top: 14px;
}
.more_a{
    margin-top: 4px;
}
#service{
    background:rgba(242,242,242,1);
}
.service-con,.procedures-con{
    padding: 58px 0;
}