@charset "utf-8";
*{
    margin:0;
    padding:0;
}
body{
    font-family: "Microsoft YaHei";
}
a,u{
    text-decoration: none;
}
b,strong{
    font-weight: normal;
}
em,i{
    font-style:normal;
}
ul,ol,li{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    font-size:16px;
    font-weight:normal;
}
fieldset{
    border:0;
}
input{
    border:0;
    outline:none;
}
textarea{
    resize:none;
}
